<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='/css4.css')}}">
    <title>Forgot Password</title>
    <link rel = "icon" href = "https://my-page1.s3.au-syd.cloud-object-storage.appdomain.cloud/forgotpasswordicon%20(2).png" type = "image/x-icon">
</head>
<body>
        <header>
            <h2 class="logo">Expense Tracker</h2>
           
            <a class="cta" href="{{url_for('login')}}">Sign in</a>
            <p class="menu cta">Menu</p>
        </header>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class= 'flashmessages'> <p> {{message}} </p> </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="wrapper">
            <div class="title">
              Forgot password
            </div>
            <div>
              <p>Instructions 
                <br><br>
                <ol type="1">
                  <li>Enter the registered email and click submit</li>
                  <li>OTP be sent to your email</li>
                  <li>Enter the OTP and click submit</li>
                  <li>Change Your password as soon as You logged in</li>
                </ol>
              </p>
            </div>
            <div class="form" style="margin-top: 5vh">

              <form name="email" action="{{url_for('forgotpassword')}}" method="post">
              <div class="inputfield">
                  <label>Email</label>
                  <input type="email" name="email" class="input" required>
               </div> 
               <div class="inputfield">
                <button type="submit" value="email" name="submit" class="btn">Submit</button>
              </div>
              </form>
            </div>
            <div class="form" style="margin-top: 2vh">
                <form name="otp" action="{{url_for('forgotpassword')}}" method="post">
               <div class="inputfield">
                <label>OTP</label>
                <input type="number" name="otp" id="otp" required class='input'>
             </div> 
              <div class="inputfield">
                <button type="submit" value="otp" name="submit" class="btn">Submit</button>
              </div>
            </form>
            </div>
            
           

 
</body>
</html>