<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='/css.css')}}">
    <script src="https://kit.fontawesome.com/53fcd5c52a.js" crossorigin="anonymous"></script>
    <link rel = "icon" href = "https://my-page1.s3.au-syd.cloud-object-storage.appdomain.cloud/profileicon%20(1).png" type = "image/x-icon">


</head>
<body>


    <div class="container" id="container">
       
        <div class="form-container sign-in-container">
            <form action='/login' method="post">
                <h1>Sign in</h1>
                <div class="social-containder">

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                               <p style="color: Red;"> {{ message }} </p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>

                <input type="email" name="email" required="required" placeholder="Email">
                <input type="password" name="newpassword" minlength="6" maxength="20" required="required" placeholder="password">
                <button type="submit">sign in</button>
                <a href="{{url_for('forgotpassword')}}">Forgot password</a>
            </form>


        </div>
        <div class="overlay-container">
            <div class="overlay">
               
                <div class="overlay-panel overlay-right">
                   <h1> Expense Tracker</h1>
                   <p>Tracking Monthly Expenses: The First Step to Money Success</p>
                   
                    <button class= "press" id="signUp"><a style="color:#fff;" href="{{url_for('Register')}}">Sign Up</a></button>
               </div>
           
        </div>

    </div>
    

    
</body>
</html>