<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Profile</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static',filename='/css4.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
        <link rel = "icon" href = "https://my-page1.s3.au-syd.cloud-object-storage.appdomain.cloud/profileicon%20(1).png" type = "image/x-icon">
    </head>
    <body>
        <header>
            <h2 class="logo">Expense Tracker</h2>
            <nav>
                <ul class="nav__links">
                    
                    
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                    <li><a href="{{url_for('about')}}">About</a></li>
                </ul>
            </nav>
            <a class="cta" href="{{url_for('dashboard')}}">Dashboard</a>
            <p class="menu cta">Menu</p>
        </header>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class= 'flashmessages'> <p> {{message}} </p> </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="wrapper">
            <div class="title">
                Profile 
            </div>
            
               
                  <p style="margin : 2px 0px 2px ;">Name :  {{account.1}}  </p>
               
                
                  <p style="margin : 2px 0px 2px ;">Email Address :  {{account.2}}  </p>
               
              
                  <p style="margin : 2px 0px 2px ;">Your Expense Limit :  {% if budget %} {{budget.BUDGET}} {% else %} Not Set {% endif %}</p>
               
            
        </div>


        <div class="wrapper">
            <div class="title">
              Settings
            </div>
            <p style="margin : 2px 0px 2px ;">Change or set your budget here</p>
            <div class="form">
              <form name="form_login" action="{{url_for('budget')}}" method="post">


              <div class="inputfield">

                  <label>Change budget</label>
                  <input type="number"  name="budget" class="input" required>
               </div> 
              <div class="inputfield">
                <input type="submit" value='Submit' name ='submit' class="btn">
              </div>
              </form>
            </div>
        



        
            <div class="title">
              
            </div>
            <div class="form">
              <p style="margin : 2px 0px 2px ;">Select the month you want to see your expenses<br>
              <div class="inputfield"><i>(you will be redirected to the Dashboard page on clicking the submit Button)<i></div> </p>
              <form name="monthandyear" action="{{url_for('switchmonth')}}" method="post">


              <div class="inputfield">
                  <label for="monthandyear" >Change month</label>
                  <input type="Month" class="input" name="monthandyear" id="monthandyear" required value='2022-{{month}}'>
               </div> 
              <div class="inputfield">
                <input type="submit" value='Submit' name ='submit' class="btn">
              </div>
            </form>
            </div>
        

        
            <div class="title">
              
            </div>
            <div class="form">
              <p style="margin : 2px 0px 2px ;">Change your account Password</p>
              <form name="password" action="{{url_for('changepassword')}}" method="post">


              <div class="inputfield">
                  <label for="password" >Change Password</label>
                  <input type="text" name="password" id="password" required class="input">
               </div> 
              <div class="inputfield">
                <input type="submit" value='Submit' name ='submit' class="btn">
              </div>
            </form>
            </div>
        </div>

        
        












        </body>
        <script>
          window.watsonAssistantChatOptions = {
            integrationID: "b0dd2bb9-926b-40f8-9dbd-2afe977fe09b", // The ID of this integration.
            region: "au-syd", // The region your integration is hosted in.
            serviceInstanceID: "b8eef28f-4168-4f13-80cf-7a5491d42c7c", // The ID of your service instance.
            onLoad: function(instance) { instance.render(); }
          };
          setTimeout(function(){
            const t=document.createElement('script');
            t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
            document.head.appendChild(t);
          });
        </script>
</html>